<footer id="footer" class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="~/img/logo-with-name.png" alt="logo" class="footer-logo">
                            @* <p> *@
                            @*     Marshall là thương hiệu âm thanh huyền thoại với hơn 50 năm kinh nghiệm trong ngành công nghiệp âm nhạc. *@
                            @*     Từ những chiếc ampli guitar đầu tiên đến các sản phẩm loa và tai nghe hiện đại, Marshall luôn mang đến *@
                            @*     chất lượng âm thanh vượt trội cùng thiết kế đặc trưng. *@
                            @* </p> *@
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                                                <use xlink:href="#facebook" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                                                <use xlink:href="#instagram" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                                                <use xlink:href="#twitter" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="linkedin">
                                                <use xlink:href="#linkedin" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                                                <use xlink:href="#youtube" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase pb-2">Sản Phẩm</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Loa Marshall</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Tai Nghe Marshall</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Phụ Kiện</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase pb-2">Chính Sách</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Chính sách bảo hành</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Chính sách vận chuyển</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" class="text-decoration-none text-muted">Chính sách đổi trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase pb-2">Liên Hệ</h5>
                            <ul class="list-unstyled small text-muted">
                                <li>Email: info@soundstore.vn</li>
                                <li>Hotline: 1900 1234</li>
                                <li>Địa chỉ: 123 Đường ABC, Quận 1, TP.HCM</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</footer>