<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoundStore.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoundStore.Web.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/logo.png" />
    @* Bootstrap icon *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">

    @* Header section *@
    @await Html.PartialAsync("_Header")


    <div class="container flex-fill">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* About Marshall *@
    @await Html.PartialAsync("_AboutMarshall")
    
    @* Footer section *@
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>