@using SoundStore.Commons.Responses
@model List<CategoryResponse>

@{
    // Define category ID to route mapping
    var categoryRoutes = new Dictionary<int, string>
    {
        { 1, "/Speakers" },
        { 2, "/Headphones" },
        { 3, "/Accessories" },
    };
}
@foreach (var category in Model)
{
    var link = categoryRoutes.ContainsKey(category.Id) ? categoryRoutes[category.Id] : "#";
    <li class="nav-item">
        <a class="nav-link me-4" asp-page="@link" asp-route-categoryId="@category.Id">@category.Name</a>
    </li>
}